.Home{
    margin-top:40px;
    
}
.images{
    display: flex;
    margin: auto;
    gap:40px;
    position:relative;
    flex-wrap: wrap;
    justify-content:center;
    /* background-color: red; */
}

/* .Home {
    margin-top: 150px;
}

.images {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin:0 auto;
    margin-top: 100px;
    padding: 30px;
    
    
} */
