.Home{
    margin-top:40px;
    
}
.images{
    display: flex;
    margin: auto;
    gap:40px;
    position:relative;
    flex-wrap: wrap;
    justify-content:center;
    /* background-color: red; */
}


