html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    margin-bottom: 15px;
    
}

.add-to-cart:hover {
    color:black;
}


